.imageContainer{
    position:relative;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
}
body{
    background-color: rgba(12, 11, 11, 0.144);
}
.bottomleft{
    position:absolute;
    left: 10px;
    bottom:30px;
    color:yellow;
}
.bottomright{
    position:absolute;
    right: 10px;
    bottom:30px;
    color:yellow;
}
.bottomleft:hover{
    color:white;
}
.bottomright:hover{
    color:white;
}
.center{
    position: absolute;
    text-align: center;
    font-size: 22pt;
    left:44%;
    bottom: 50%;
    text-shadow: khaki;
    border: khaki 10px;
}
body{
    background-color:rgb(54, 54, 54);
}
hr{
    border: none;
    height:10px;
    color:black;
    background-color: gold;
}
.pImage{
    float: left;
    height:300px;
}
td{
    word-wrap: normal;
    color:white;
    padding-top:5px;
}
.centerglow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }