.imageContainer{
    position:relative;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
}
body{
    background-color: rgba(12, 11, 11, 0.144);
}
.center{
    position: absolute;
    text-align: center;
    font-size: 22pt;
    left:44%;
    bottom: 50%;
    text-shadow: khaki;
    border: khaki 20px;
}
body{
    background-color:rgb(54, 54, 54);
}
hr{
    border: none;
    height:40px;
    color:black;
    background-color: gold;
}
.pImage{
    float: left;
    height:300px;
}
.centerglow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  nav a{
    text-decoration: none;
    color: gray;
  }
  nav a:hover{
    text-decoration: underline;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  p{
    padding-left:10px;
    padding-right: 10px;
    color: gray
  }
  li{
    padding-left:10px;
    padding-right: 10px;
    color: gray;
    list-style-type: none;
    text-align: center;
  }
  nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color:gold;
    align-items: center;
    text-align: center;
  }

  nav li {
      display: inline-block;
      color:gray;      
      padding: 14px 16px;
      margin: 0 auto;
      list-style-type: none;
  }
  .exp:after{content:"Experience"}
  .exp:hover:after{content:"仕事";}
  .abtme:after{content:"About Me"}
  .abtme:hover:after{content:"私のこと";}
  .name:after{content:"Brandon Skelton"}
  .name:hover:after{content:"スケルトンさん";}
  .fam:after{content:"My Family"}
  .fam:hover:after{content:"私の家族";}
  .hob:after{content:"Hobbies"}
  .hob:hover:after{content:"趣味";}
  .contact:after{content:"Contact"}
  .contact:hover:after{content:"話しましょうか";}
  ul p{ 
    text-align: center;
  }
  img {
    float:left;
    padding-top: 10px;
    padding-bottom: 10px;
  }

